<div class="container">
    <h1>Why Choose Us</h1>
    <p class="intro-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </p>

    <div class="features">
        <div class="feature">
            <div class="feature-icon">
                <img src="trainer-icon.png" alt="Trainer">
            </div>
            <div class="feature-text">
                <h3>Trainer Qualifications</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-icon">
                <img src="facility-icon.png" alt="Facility">
            </div>
            <div class="feature-text">
                <h3>Facility Amenities</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-icon">
                <img src="cost-icon.png" alt="Cost">
            </div>
            <div class="feature-text">
                <h3>Membership Cost</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore</p>
            </div>
        </div>
        <div class="feature">
            <div class="feature-icon">

                <img src="hours-icon.png" alt="Hours">
            </div>
            <div class="feature-text">
                <h3>Operating Hours</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore</p>
            </div>
        </div>
    </div>

    <div class="images">
        <img src="gym-image1.jpg" alt="Gym Image 1">
        <img src="gym-image2.jpg" alt="Gym Image 2">
        <img src="gym-image3.jpg" alt="Gym Image 3">
    </div>
</div>