<header class="header">
    <img class="header-logo" src="../../../assets/home/nav_bar/gym_logo.svg" alt="SSK Gym">
    <nav class="nav-bar">
        <ul class="nav-list">
            <li class="nav-item" *ngFor="let navBarElement of navBarElements">
                <a routerLink="/{{navBarElement}}" routerLinkActive="active"> {{navBarElement|titlecase}}</a>
            </li>
        </ul>
    </nav>
    <button class="join-now-btn">Join Now</button>
</header>

<main class="hero">
    <div class="hero-content">
        <h1 class="home-message-title">ELEVATE YOUR WORKOUT</h1>
        <p class="home-message">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
            do eiusmod tempor incididunt ut labore et dolore magna
            aliqua. Ut enim ad minim veniam, quis nostrud exercitation
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
        <div class="cta-buttons">
            <button class="get-started">Get Started</button>
            <button class="play-video">
                <span class="play-icon"></span>
                Play video
            </button>
        </div>
        <div class="social-icons">
            <a href="#" class="facebook"></a>
            <a href="#" class="instagram"></a>
        </div>
    </div>
    <div class="hero-image">
        <img src="../../../assets/home/workout_man.svg" alt="Man working out">
    </div>
</main>